<main class="board" cdkDropListGroup>
  <div class="column to-do">
    <h3>To Do</h3>
    <div
      class="column_content"
      cdkDropList
      [cdkDropListData]="toDoItems"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of toDoItems; track $index) {
      <app-cell
        [title]="item.title"
        [description]="item.description"
        [employee]="item.employee"
        cdkDrag
      ></app-cell>
      } @empty {
      <app-cell [empty]="true"></app-cell>
      }
    </div>
  </div>
  <div class="column in-progress">
    <h3>In Progress</h3>
    <div
      class="column_content"
      cdkDropList
      [cdkDropListData]="inProgressItems"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of inProgressItems; track $index) {
      <app-cell
        [title]="item.title"
        [description]="item.description"
        [employee]="item.employee"
        cdkDrag
      ></app-cell>
      }@empty {
      <app-cell [empty]="true"></app-cell>
      }
    </div>
  </div>
  <div class="column done">
    <h3>Done</h3>
    <div
      class="column_content"
      cdkDropList
      [cdkDropListData]="doneItems"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of doneItems; track $index) {
      <app-cell
        [title]="item.title"
        [description]="item.description"
        [employee]="item.employee"
        cdkDrag
      ></app-cell>
      }@empty {
      <app-cell [empty]="true"></app-cell>
      }
    </div>
  </div>
</main>
