.board,
.board .column {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.board .column {
  flex: 1;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1rem;
  flex-direction: column;
}

.column.to-do {
  border: #f75454 2px solid;
}
.column.in-progress {
  border: #e1b12d 2px solid;
}
.column.done {
  border: #36cf36 2px solid;
}
